*{
  background-color: #FFFFFF;
  color: black;
}


.mainbox{
  justify-self: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(44, 0, 0);
  height: 90vh;
  width: 90%;
}
.header{
width: 100%;
height: 10%;
display: flex;
justify-content: center; 
background-color:rebeccapurple;
border: 1px solid rgb(156, 92, 14);
}
.headerbox{
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.headerbox p{
  background: transparent;
  font-size: larger;
  font-weight: 600;
}
.headerbox h1{
  background: transparent;
}


.settings{
  display: flex;
  justify-content: space-between;
  background: transparent;
  gap: 10px;
}


/*------------------------content box---------------------*/



.contentbox{
  border: 1px solid blue;
  display: flex;
  background-color: #FFFFFF;
  height: 90%;
  width: 100%;
}
.tasksmainbox{
  border: 1px solid green;
  height: 100%;
  width: 70%;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
}
.rightbox{
  border: 1px solid red;
  height: 100%;
  background-color: #FFFFFF;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  position: relative;
  top: 0;
}

.tasksbox{
  border: 1px solid violet;
  height: 80%;
  width: 80%;
}

.inputbox{

}

#dash{
  text-decoration: line-through;
  text-decoration-color: red;
}


#header{
  font-size: x-large;
  font-weight: 400;
}

.listoftasks{
  margin-left:20px ;
  display: flex;
  flex-direction: column;

}

.singletask{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}